.page {
    background-color: #242424;
    width: 100%;
    text-align: center;
  }
  
  .font-face-rumor-sm {
    font-family: "rumor";
    font-size: 200%;
    color: #fff7e6;
  }
  
  .header {
    padding-top: 20pt;
    padding-bottom: 20pt;
  }
  
  .column {
    float: left;
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 300px 300px 300px;
    grid-gap:10px; /* even spacing using grid-gap, You can use percentage values if you want*/
    /* padding:10px; */
  }
  
  .column img {
    margin-top: 12px;
  }
  
  .img {
      min-width: 100%;
      max-width: 100%;
  }