.page {
    background-color: #242424;
    width: 100%;
    text-align: center;
}

.font-face-rumor-sm {
    font-family: "rumor";
    font-size: 200%;
    color: #fff7e6;
}

.header {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.container {
    display: flex;
}

.grid-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 4px;
    width: 80px;
    height: 80px;
}

/* Three */
.grid-tile:first-child:nth-last-child(3) {
    grid-area: span 2;
}
