.grid-container {
  /* min-width:fit-content; */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 5%;
  padding: 1%;
}

.grid-item img {
  /* max-width: 100%; */
  /* min-width: 1000px;
  width: 100%;
  height: auto; */
  display: block;
  /* align-content: center;
  justify-content: center; */
}

.img {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.left {
  grid-column: 1;

}

/* For Mobile Portrait View */
@media screen and (max-device-width: 830px) and (orientation: portrait) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 40vh;
    gap: 2%;
    padding: 100px;    
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 1000px) and (orientation: landscape) {
  .grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 40vh;
    gap: 2%;
    padding: 100px;    
  }
}