.font-face-rumor {
    font-family: "rumor";
    font-size: 350%;
    color: #fff7e6;
    padding-right: 100px;
}

.navbar {
    background-color: #b3cccc;
}

.span {
    background-color: #242424;
    width: 100%;
}