.font-face-rumor-lg {
    font-family: "rumor";
    font-size: 500%;
    color: #006cbf;
    display: inline-block;
    text-align: center;
    line-height: 1;
}

.mobile-only-break {
    display: none;
}

@media (max-width: 558px) {
    .font-face-rumor-lg {
        font-size: 320%;
    }
    .mobile-only-break {
        display: inline;
    }
}

.silver-gradient {
    color: #006cbf;
    text-shadow:
        -1px -1px 0 #e8e8e8,
        -2px -1px 0 #c0c0c0,
        -3px -2px 0 #808080;
}

.font-face-rumor-sm-nav {
    font-family: "rumor";
    font-size: 200%;
    color: #bf5000;
}

.font-face-rumor-sm-nav:hover {
    font-family: "rumor";
    font-size: 200%;
    color: #006cbf;
}

.navbar {
    background-color: #242424;
    display: flex;
    justify-content: center;

    .nav-link.active {
        color: white;
    }

    .brand {
        display: flex;
    }
}

.span {
    background-color: #242424;
    width: 100%;
}

@media (max-width: 500px) {
    .navbar-nav .nav-link .span {
    font-size: 30px;
    flex-direction: column;
    }

  }

.nav-link-wrapper {
    margin: 0 1.5rem;
}
