.font-face-rumor-lg {
    font-family: "rumor";
    font-size: 500%;
    color: #006cbf;
}

.font-face-rumor-sm-nav {
    font-family: "rumor";
    font-size: 200%;
    color: #bf5000;
}

.font-face-rumor-sm-nav:hover {
    font-family: "rumor";
    font-size: 200%;
    color: #006cbf;
}

.navbar {
    background-color: #242424;
    display: flex;
    justify-content: center;

    .nav-link.active {
        color: white;
    }

    .brand {
        display: flex;
    }
}

.span {
    background-color: #242424;
    width: 100%;
}

@media (max-device-width: 500px) {
    .navbar-nav .nav-link .span {
    font-size: 30px;
    flex-direction: column;
    }

  }
